body{
    background-color:rgb(36, 192, 153)(180, 113, 113);
    margin: 0;
}
.navbar-right
{
    background-color: black;
    width: 100%;
    height: 50px;
    
}

#active
{
    color: red;
}
.topnav
{
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    
}
.topnav a:hover
{
    color: red;
}
.topnav a
{
    float: left;
    text-align: end;
    font-size: 15px;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(246, 249, 252);
}

.aboutme-body
{
    height: 80%;
    width: 100%;
    display: flex;
    
}
.aboutme-body-left
{
    flex: 1;
}

.aboutme-body-right
{
    flex: 1;
    padding-top: 190px;
    background-color: rgb(0, 0, 0);
    padding-bottom: 215px;
    padding-left: 50px;
    color: rgb(250, 250, 250);
    
}

.dp
{
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 50px;

}

.dp:hover
{
    cursor: pointer;
    border-radius: 50px;
}

/* @keyframes profilepic {

    0%{
        border: 1px solid black;
    }

    100%{
        border: 50px solid red;
    }
    
} */

.name
{
    animation-name: name-size-increase;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: smooth;
    font-weight: 500;
}

@keyframes name-size-increase {

    from{
        font-weight: 100;
        margin-left: 100%;

    }
    to{
        font-weight: 500;
        margin-left: 20px;

    }
    
}

div{
    animation-name: divfadein;
    animation-duration: 3s;
    
}

@keyframes divfadein {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }
    
}