.project-body
{
    width: 100%;
    display: flex;
}

.project-body-left
{
    flex: 1;
    background-color: rgb(246, 248, 248);
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    text-align: justify;
    padding-right: 5px;
}

.project-body-right
{
    flex: 1;
    height: auto;
}
table,th,tr
{
    margin-left: 60px;
    margin-top: 250px;
    border: 3px solid black;
}
td
{
    padding: 10px;
    text-align: center;
}