.qualification-body
{
    width: 100%;
    display: flex;
    background-color: rgba(223, 223, 47, 0.438);
    padding-top: 150px;
    padding-left: 130px;
    padding-bottom: 70px;
    
}

.card
{
    margin-right: 70px;
}

.card:hover
{
    border-radius: 50px;
    border-color: brown;
    transition-duration: .75s;

    transform: scale(1.3);
    
    
}




